__pycache__
docs/build
/docs/source/_autosummary/

# Python files
*.pyc
__pycache__/

# Exclude non-Python files from Black formatting
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.rst
requirements.txt
LICENSE.txt